/* Nastavení těla stránky*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
}

/* Nastavení záhlaví*/
header {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

/*Nastavení hlavní části stránky*/
main {
    background-color: rgba(255, 255, 255, 0.401);
    width: 1200px;
    margin: 20px auto;
    border: 10px solid #333;
}

/*Nastavení flexboxu*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container div {
    background-color: rgba(42, 61, 119, 0.505);
    padding: 20px;
    margin: 20px;
    flex: 25%;
  }

/*Responzivní design*/
@media screen and (max-width: 1200px){
    main {
        width: 900px;
    }

.flex-container {
    flex-direction: column;
}
}

a {
    color: rgba(0, 0, 0, 0.575);
}