/* Nastavení těla stránky*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #78a9cbb7;
}

/* Nastavení záhlaví*/
header {
    background-color: #274c77;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 3em;
    display: flex;
    float: none;
} 

header p {
    font-size: 1em;
    align-self: auto;
    justify-content: center;
    display: flex;
    
}

/*Nastavení hlavní části stránky*/
main {
    background-color: #e7ecef;
    max-width: 1300px;
    margin: 20px auto;
    border: 10px solid #274c77;
    border-radius: 15px;
}

/*Nastavení flexboxu*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    background-color: #a3cef1;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    flex: 25%;
    border-radius: 15px;
}

h3 {
    font-size: 25px;
}

ul {
    font-size: 20px;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animace */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.05); 
  }

/*Responzivní design*/
@media screen and (max-width: 1200px){
    main {
        max-width: 900px;
    }
    .zoom:not()

.flex-container {
    flex-direction: column;
}
}

a {
    color: rgba(0, 0, 0, 0.575);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*padding*/
.pad {
    padding-left: 10px;
    color: #274c77;
}

hr {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

