/* Nastavení těla stránky*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #78a9cbb7;
}

/* Nastavení záhlaví*/
header {
    background-color: #274c77;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    flex: auto;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 2em;
}

/*Nastavení hlavní části stránky*/
main {
    background-color: #e7ecef;
    width: 1250px;
    height: 550px;
    margin: 20px auto;
    border: 10px solid #274c77;
}

/*Nastavení flexboxu*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

.flex-container div {
    background-color: #a3cef1;
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    flex: 25%;
  }

/*Responzivní design*/
@media screen and (max-width: 1200px){
    main {
        width: 900px;
    }

.flex-container {
    flex-direction: column;
}
}

a {
    color: rgba(0, 0, 0, 0.575);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*padding*/
.pad {
    padding-left: 10px;
    color: #274c77;
}
